@charset "UTF-8";


#globo{
    background-color: rgb(255, 255, 255);
}

header{
    background-color: black;
    color: white;
}

 #titulo > h1{
    text-align: center;
    font-weight: 25;
    font-family:  sans-serif;

}

#menu{
    background-color: rgb(2, 2, 2);
    color: aliceblue;
}



